@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Balsamiq Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Noto Serif', serif;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9774 0.0026 58.3264);
  --foreground: oklch(0.2691 0.0136 48.1941);
  --card: oklch(0.9396 0.0069 58.2602);
  --card-foreground: oklch(0.3204 0.0173 48.1575);
  --popover: oklch(0.9396 0.0069 58.2602);
  --popover-foreground: oklch(0.3204 0.0173 48.1575);
  --primary: oklch(0.4229 0.0652 47.0092);
  --primary-foreground: oklch(0.9925 0.0008 58.3519);
  --secondary: oklch(0.8982 0.0222 84.5925);
  --secondary-foreground: oklch(0.3698 0.0209 48.1330);
  --muted: oklch(0.9266 0.0110 67.6900);
  --muted-foreground: oklch(0.5148 0.0302 57.5293);
  --accent: oklch(0.6397 0.1124 158.9419);
  --accent-foreground: oklch(0.9925 0.0008 58.3519);
  --destructive: oklch(0.5972 0.1977 25.5155);
  --border: oklch(0.8860 0.0131 58.1560);
  --input: oklch(0.9243 0.0087 58.2319);
  --ring: oklch(0.5166 0.0826 46.9154);
  --chart-1: oklch(0.4229 0.0652 47.0092);
  --chart-2: oklch(0.7644 0.0735 75.6234);
  --chart-3: oklch(0.6397 0.1124 158.9419);
  --chart-4: oklch(0.7970 0.0344 248.2579);
  --chart-5: oklch(0.6021 0.0716 129.9078);
  --sidebar: oklch(0.9396 0.0069 58.2602);
  --sidebar-foreground: oklch(0.2691 0.0136 48.1941);
  --sidebar-primary: oklch(0.3741 0.0560 47.0765);
  --sidebar-primary-foreground: oklch(0.9925 0.0008 58.3519);
  --sidebar-accent: oklch(0.5872 0.1023 159.0230);
  --sidebar-accent-foreground: oklch(0.9925 0.0008 58.3519);
  --sidebar-border: oklch(0.8860 0.0131 58.1560);
  --sidebar-ring: oklch(0.5166 0.0826 46.9154);
  --destructive-foreground: oklch(0.9925 0.0008 58.3519);
  --font-sans: 'Balsamiq Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: hsl(20, 10%, 10%);
  --shadow-opacity: 0.08;
  --shadow-blur: 12px;
  --shadow-spread: -3px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 5px;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 5px 12px -3px hsl(20 10% 10% / 0.04);
  --shadow-xs: 0px 5px 12px -3px hsl(20 10% 10% / 0.04);
  --shadow-sm: 0px 5px 12px -3px hsl(20 10% 10% / 0.08), 0px 1px 2px -4px hsl(20 10% 10% / 0.08);
  --shadow: 0px 5px 12px -3px hsl(20 10% 10% / 0.08), 0px 1px 2px -4px hsl(20 10% 10% / 0.08);
  --shadow-md: 0px 5px 12px -3px hsl(20 10% 10% / 0.08), 0px 2px 4px -4px hsl(20 10% 10% / 0.08);
  --shadow-lg: 0px 5px 12px -3px hsl(20 10% 10% / 0.08), 0px 4px 6px -4px hsl(20 10% 10% / 0.08);
  --shadow-xl: 0px 5px 12px -3px hsl(20 10% 10% / 0.08), 0px 8px 10px -4px hsl(20 10% 10% / 0.08);
  --shadow-2xl: 0px 5px 12px -3px hsl(20 10% 10% / 0.20);
  --tracking-normal: 0.015em;
}

.dark {
  --background: oklch(0.2371 0.0112 48.2263);
  --foreground: oklch(0.9623 0.0043 58.3006);
  --card: oklch(0.3001 0.0158 48.1702);
  --card-foreground: oklch(0.9774 0.0026 58.3264);
  --popover: oklch(0.3001 0.0158 48.1702);
  --popover-foreground: oklch(0.9774 0.0026 58.3264);
  --primary: oklch(0.7641 0.0560 47.9677);
  --primary-foreground: oklch(0.1576 0.0051 48.3765);
  --secondary: oklch(0.5921 0.0663 75.2490);
  --secondary-foreground: oklch(0.9623 0.0043 58.3006);
  --muted: oklch(0.3750 0.0273 57.3103);
  --muted-foreground: oklch(0.8106 0.0171 67.5833);
  --accent: oklch(0.7498 0.1006 160.8683);
  --accent-foreground: oklch(0.1576 0.0051 48.3765);
  --destructive: oklch(0.6672 0.1562 22.2261);
  --border: oklch(0.4175 0.0244 48.1154);
  --input: oklch(0.3404 0.0188 48.1466);
  --ring: oklch(0.7244 0.0664 47.7833);
  --chart-1: oklch(0.7641 0.0560 47.9677);
  --chart-2: oklch(0.6143 0.0942 73.6734);
  --chart-3: oklch(0.7801 0.0887 161.6649);
  --chart-4: oklch(0.6282 0.0650 248.8990);
  --chart-5: oklch(0.7579 0.0534 129.2768);
  --sidebar: oklch(0.3001 0.0158 48.1702);
  --sidebar-foreground: oklch(0.9623 0.0043 58.3006);
  --sidebar-primary: oklch(0.7244 0.0664 47.7833);
  --sidebar-primary-foreground: oklch(0.1576 0.0051 48.3765);
  --sidebar-accent: oklch(0.7201 0.1119 159.9474);
  --sidebar-accent-foreground: oklch(0.9623 0.0043 58.3006);
  --sidebar-border: oklch(0.4175 0.0244 48.1154);
  --sidebar-ring: oklch(0.7244 0.0664 47.7833);
  --destructive-foreground: oklch(0.1576 0.0051 48.3765);
  --radius: 0.75rem;
  --font-sans: 'Balsamiq Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: hsl(20, 10%, 5%);
  --shadow-opacity: 0.4;
  --shadow-blur: 14px;
  --shadow-spread: -4px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 7px;
  --letter-spacing: 0.015em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 7px 14px -4px hsl(20 10% 5% / 0.20);
  --shadow-xs: 0px 7px 14px -4px hsl(20 10% 5% / 0.20);
  --shadow-sm: 0px 7px 14px -4px hsl(20 10% 5% / 0.40), 0px 1px 2px -5px hsl(20 10% 5% / 0.40);
  --shadow: 0px 7px 14px -4px hsl(20 10% 5% / 0.40), 0px 1px 2px -5px hsl(20 10% 5% / 0.40);
  --shadow-md: 0px 7px 14px -4px hsl(20 10% 5% / 0.40), 0px 2px 4px -5px hsl(20 10% 5% / 0.40);
  --shadow-lg: 0px 7px 14px -4px hsl(20 10% 5% / 0.40), 0px 4px 6px -5px hsl(20 10% 5% / 0.40);
  --shadow-xl: 0px 7px 14px -4px hsl(20 10% 5% / 0.40), 0px 8px 10px -5px hsl(20 10% 5% / 0.40);
  --shadow-2xl: 0px 7px 14px -4px hsl(20 10% 5% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}